[Unit]
Description=nachumaru docker-compose service
Requires=docker.service

[Service]
Type=simple
User=nachumaru

Environment=COMPOSE_FILE=/home/ubuntu/ec-cube/docker-compose.nachu.yml

ExecStartPre=-/usr/local/bin/docker-compose -f ${COMPOSE_FILE} kill
ExecStartPre=-/usr/local/bin/docker-compose -f ${COMPOSE_FILE} rm -v -f
ExecStartPre=-/usr/local/bin/docker-compose -f ${COMPOSE_FILE} down

ExecStart=/usr/local/bin/docker-compose -f ${COMPOSE_FILE} up --force-recreate --abort-on-container-exit

ExecStop=/usr/local/bin/docker-compose -f ${COMPOSE_FILE} stop
ExecStopPost=-/usr/local/bin/docker-compose -f ${COMPOSE_FILE} rm -v -f
ExecStopPost=-/usr/local/bin/docker-compose -f ${COMPOSE_FILE} down

Restart=always
RestartSec=180s

[Install]
WantedBy=multi-user.target

