{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ 'front.tradelaw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>ナチュマル</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>根岸克治</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>東京都大田区南千束２-６-１６-２０１</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:webmonkey@nachumaru.com">webmonkey@nachumaru.com</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="https://www.nachumaru.com">https://www.nachumaru.con</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>販売価格とは別に配送料を頂戴しております。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>在庫品に限り５営業日以内に出荷いたします。お取り寄せ品については別途納期の連絡をいたします。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>銀行振り込みおよびクレジットカード決済に対応しています。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>
                            <div>ご注文したものと違う場合や破損・汚損など不良品の場合は商品到着後７日いないにご連絡ください。</div>
                            <div>代替品と交換させていただきます。代替品がご用意できない場合はご返金対応とさせていただきますのでご了承ください。</div>
                            <div>お客様都合の返品はご容赦ください。</div>
                        </dd>
                    </dl>
                    
                    <dl>
                        <dt>
                            <label class="ec-label">酒類販売管理者標識</label>
                        </dt>
                        <dd>
                            <div>（販売場の名称及び所在地）東京都大田区南千束２ー６ー１６ー２０１　ナチュマル ワインショップ</div>
                            <div>（酒類販売管理者の氏名）根岸克治</div>
                            <div>（次回研修の受講期限）令和６年８月１８日</div>
                            <div>（研修実施団体名）一般社団法人 日本ボランタリーチェーン協会</div>
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
